@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, p {
  font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 4em;
    padding: 3px 12px;
}
