@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, p {
  font-family: 'Inter', sans-serif;
}

.panel-container {
    min-height: 100vh;
    background-color: #037d97;
    display: grid;
    grid-template-columns: 3.8fr 6.2fr;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem;
}

.profile {
    width: 50%;
    border-radius: 1rem;
}

.nameIntro {
  color: rgb(165, 243, 252);
  font-size: 1.2rem;
}

.name {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #fcfcfc;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

.highlight-container {
    min-height: 65vh;
    background-color: #67e8f9;
    border-radius: 1rem;
}
