header nav .active {
  color: #9ca3af;
}

.container {
  padding: 0.875rem;
  margin: auto;
}

.navbar {
  display: none; /* hidden in Tailwind */
  transition: all 0.2s ease-in-out; /* transition-all in Tailwind */
  font-size: 0.875rem; /* text-sm in Tailwind, equivalent to 14px */

  @media (max-width: 767px) {
    padding-top: 2rem; /* max-md:py-8 in Tailwind */
    padding-bottom: 2rem; /* max-md:py-8 in Tailwind */
    flex-basis: 80%; /* max-md:basis-[80%] in Tailwind */
  }

  @media (min-width: 768px) {
    display: flex; /* md:flex in Tailwind */
    gap: 1.75rem; /* md:gap-7 in Tailwind */
  }
}

.navbar-toggle {
  display: none;

  @media (max-width: 767px) {
    &:checked ~ .navbar {
      display: block;
    }
  }
}
